
    body{
        font-family: sans-serif;
        background-color: #202020;
        color: white;
    }
    main{
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 69px;
    }
    .nav-li{
        display: flex;
        margin-left: 10px;
    }
    a{
        color: #d4d4d4;
        
    }
    a:hover{
        color: red;
        
    }
    .nav-ul{
        display: flex;
    }
    .profile-wrapper{
        text-align: center;
    }
    .profile-wrapper h1{
        margin-top: 24px;
        margin-bottom: 12px;
        font-size: 24px;
        font-style: bold;
    }
    .profile-wrapper p{
        margin: 0;
        color: #d4d4d4;
    }
    .profile-wrapper a{
        color: #d4d4d4;
    }
    .profile-wrapper span{
        color: #5af4f4;
    }
    .profile-picture{
        border-radius: 50%;
        width: 120px;
        
    }
    .bio-wrapper{
        margin-top: 24px;
        text-align: center;
    }
    .bio-wrapper span{
        color: #5af4f4;
        font-style: bold;
    }
    .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    }
    .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    }
    .grid-item p{
        font-size: 15px;
    }
    footer{
        text-align: center;
    }
    form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
    @media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
        }
    }
